---
import LandingPageLayout from "layouts/LandingPageLayout.astro";
---

<LandingPageLayout title="TheDailySpace">
  <main>
    <h1>Miło cię widzieć w <span class="text-gradient">TheDailySpace</span></h1>
    <p class="instructions">Czekaliśmy na Ciebie!</p>
  </main>
</LandingPageLayout>

<style>
  :root {
    --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
  }

  h1 {
    margin: 2rem 0;
  }

  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
  }

  .text-gradient {
    font-weight: 900;
    background-image: var(--astro-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
  }

  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    background: #4f39fa;
    padding: 1rem;
    border-radius: 0.4rem;
    color: var(--color-bg);
  }
</style>
