---
import LandingPageLayout from "layouts/LandingPageLayout.astro";
---

<LandingPageLayout title="TheDailySpace">
  <main class="m-2">
    <h1>Bądź na bieżąco i oszczędzaj czas</h1>
    <p>
      Zapisz się do bezpłatnego newslettera i otrzymuj wiadomości każdego dnia
    </p>
    <input type="email" placeholder="jan.kowalski@mail.com" class="border-red-900 border-4 p-2" />
    <button class="font-bold">Zapisuję się</button>
  </main>
</LandingPageLayout>
